<!DOCTYPE html>
<html lang="en">

{{> head}}

{{> navbar}}

<div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre }}</h1>
        <p class="lead">Nunca olvides que eres lo mas lindo de mi vida! junto a ti quiero recorrer mi vida,
            dandote lo mejor de mi! Quiero hacerte feliz! 
        </p>
        <hr class="my-4">
        <p>
            Quedate a mi lado, para que juntos conozcamos lo mas lindo del universo y alimentemos cada vez 
            mas nuestra energía y amor
        </p>
        <img src="https://i.pinimg.com/originals/42/89/42/428942929326c43c7695f1c5be52136d.gif"> 
        <a class="btn btn-primary btn-lg" href="#" role="button">TE AMO DEMASIADO!!!</a>
    </div>

{{>footer}}